body{
   background-color: lightblue;
}

h1{
    text-align: center
}

h3{
    font-size: 30px;
    text-align: center
}

.rules {
    font-size: 20px;
    margin: 25px 25px 25px 25px;
}

.gameMenu{
    text-align: center;
    margin: 25px 50px 75px 100px;
}

.gameArea{
    font-size: 20px;
    text-align: center;
    margin: 25px 50px 75px 100px;
    padding: 25px 25px 25px 25px;
}

.gameLog {
    font-size: 20px;
    text-align: center;
    margin: 25px 50px 75px 100px;
    padding: 25px 25px 25px 25px;
}
